.container {
    color: white;
    
    h2 {
        font-size: 2rem;
        margin-top: 1rem;
        font-weight: 700;
    }

    iframe {
       
        margin: 2rem 0;
    }

    img {
        padding: 2rem 5rem;
    }
   
}